fastapi
uvicorn
python-multipart
openai-whisper
torch
torchvision
torchaudio
ffmpeg-python
moviepy<2.0
edge-tts
opencv-python-headless
einops
transformers==4.44.2
Pillow
accelerate
redis
openai
boto3
requests
mutagen>=1.47.0